/* Alumno: Macchia Sebastian */
/* Relice 2 puntos de quiebre y el resto para la version desktop sin media query */

/* Estilo para el encabezado */
.header {
  text-align: center;
  padding: 1em;
  background-color: cadetblue;
  font-family: 'Open Sans', sans-serif; /* Fuente para el encabezado */
}

/* Estilo para el contenido dentro del encabezado */
.header-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

/* Estilo para las imágenes dentro del contenido del encabezado */
.header-content > img {
  width: 150px;
  height: inherit;
}

/* Estilo para los enlaces a redes sociales en el contenido del encabezado */
.header-content-social-media-a {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: none;
}

.header-content-social-media-a {
  /* Estilos predeterminados */
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.header-content-social-media-a:hover {
  /* Escala más grande al pasar el mouse */
  transform: scale(1.5);
}


/* Estilos para íconos de redes sociales específicos */
.fa-facebook {
  color: #1877f2;
  font-size: x-large;
}

.fa-xmark {
  color: black;
  font-size: x-large;
}

.fa-instagram {
  color: #bc2a8d;
  font-size: x-large;
}

.fa-youtube {
  color: red;
  font-size: x-large;
}
/* estilos para el modo */
.modo{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
}
/* Estilos para el modo claro y el hover */
.modo-light {
  color: black;
  background-color: #fff;
}
.modo-light:hover {
  color: black;
  background-color:#ccc;
}
/* Estilos para el modo oscuro y el hover */
.modo-dark {
  color: #fff;
  background-color: black;
}
.modo-dark:hover {
  color: black;
  background-color: #ccc;
}
/* Estilos para encabezados h1 y h2/h3 */
h1 {
  font-size: 2em;
  color:#fff;
  font-family: 'Open Sans', sans-serif; /* Fuente para h1 */
}

h2, h3 {
  font-size: 1em;
  text-align: center;
  color: darkblue;
  text-decoration: solid underline;
  font-family: 'Open Sans', sans-serif; /* Fuente para h2 y h3 */
}

/* Estilos para la navegación en el encabezado */
.header-nav-ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-weight: 600;
  list-style: none;
  justify-content: space-around
}

.header-nav-ul-li {
  font-size: .8em;

}
.header-nav-ul-li>a{
  text-decoration: none;
  list-style: none;
  font-size: large;
  color: #fff;
  margin-left: 5px;
}
/* Estilos para los enlaces generales */
a {
  list-style: none;
  text-decoration: none;
}

/* Estilos para párrafos */
p {
  color: darkred;
  text-align: start;
}

/* Estilos para la sección principal */
.main-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
}

/* Estilos para párrafos dentro de la sección principal */
.main-section > p {
  text-align: center;
}

/* Estilos para elementos de audio en la sección principal */
.main-section > audio {
  margin-bottom: 10px;
}

/* Estilos para la lista de ingredientes */
.ingredientes {
  text-align: center;
  font-weight: 600;
  list-style-position: inside;
}

.ingredientes > li {
  color: blue;
  font-weight: 600;
  text-align: center;
  list-style-position: inside;
}

/* Estilos adicionales para párrafos dentro de la sección de ingredientes */
.ingredientes-p {
  color: blue;
  text-align: center;
}

/* Estilos generales del cuerpo */
body {
  background-color: bisque;
  font-family: 'Roboto', sans-serif; /* Fuente para el cuerpo del documento */
}

/* Estilos para la sección de paso a paso */
.paso-a-paso {
  text-align: center;
  font-weight: 600;
  list-style-position: inside;
}

.paso-a-paso > li {
  color: blueviolet;
  font-weight: 600;
  margin-bottom: 5px;
}

/* Estilos para imágenes, iframes y videos */
img {
  width: 50%;
  border-radius: 20px;
}

iframe {
  border-radius: 20px;
  width: max-content;
  height: 300px;
}

video {
  border-radius: 20px;
  width: max-content;
  height: 300px;
}

/* Estilos para la sección de WhatsApp flotante */
.whatsapp-section {
  position: fixed;
  width: 5%;
  bottom: 160px;
  right: 10px;
  z-index: 1;
}

.whatsapp-logo {
  height: inherit;
  width: 60%;
}

/* Estilos para la sección de videos en la barra lateral */
.video-aside {
  align-items: center;
  margin-bottom: 10px;
}

.video-aside > video {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  width: max-content;
}

/* Estilos para la sección de barra lateral */
.section-aside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.section-aside iframe {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Estilos para el pie de página */
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: cadetblue;
  padding: 1em;
}

/* Estilos para iframes dentro del pie de página */
.footer > iframe {
  width: 160px;
  height: inherit;
}

/* Estilos para párrafos dentro del pie de página */
.footer > p {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 1em;
  margin-right: 15px;
}

/* Estilos adicionales para la sección de redes sociales en el pie de página */
.footer-content-social-media-a{
  font-size: 25px;
  text-align: start;
  margin-left: 10px;
}

.footer-content-social-media > h4 {
  font-size: 1em;
  color: white;
}
.copyRight{
  text-align: center;
  font-size: 1em;
  color: white;
  font-weight: 600;
  background-color: #1877f2;
}
.copyRight:hover{
  background-color:blueviolet;
  color: white;
}
/* Estilos para la sección de contacto */
.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: grid;
  gap: 20px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


/* Estilos para el hover del enlace de navegación en el encabezado */
.header-nav-ul-li:hover{
  background-color: black;
}
.header-nav-ul-li:hover>a{
  color: white;
}
.section-display,.section-display-ferrari{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
}
.section-display-ferrari{
  display: none;
}

@media (max-width: 575px) {
  .video-aside{
    display: none;
  }
  .footer>iframe{
    display: none;
  }
  .section-aside{
    display: none;
  }
  .header-content>img{
    display: none;
  }
  .main-section>audio,p{
    display: none;
  }
  .main-p{
    display: block;
  }
  main,p,h2,h3{
    padding: .8em;
    font-size: .8em;
  }
  .footer{
    justify-content: center;
  }
  .footer-content-social-media{
    display: flex;
  }
  .footer-content-social-media>h4{
    margin: 0;
  }
  .whatsapp-section{
    display: none;
  }
  .section-display{
    display: none;
  }
  .section-display-ferrari{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align: center;
  }
}

@media (min-width:576px) and (max-width:992px){
  main,p,h2,h3{
    padding: .8em;
    font-size: 1em;
  }
  .section-display{
    display: none;
  }
  .footer>p{
    background-color: cadetblue;
  }
  .section-display{
    display: none;
  }
}