.header{
  text-align: center;
  padding: 1em;
  background-color: cadetblue;
}
.header-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.header-content>img{
  width: 200px;
  height: fit-content;
}
.header-content-social-media-a{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: none;
}
.header-content-social-media-a:hover{
  background-color: inherit;
  font-size: 30px;
  
}
.header-content-social-media-a{
  font-size: x-large;
}
.fa-facebook{
  color: #1877f2;
}
.fa-xmark{
  color: black;
}
.fa-instagram{
  color: #bc2a8d;
}
.fa-youtube{
  color: red;
}
h1{
  color: brown;
}
h2,h3{
  text-align: center;
  color: darkblue;
  text-decoration:solid underline;
}
.header-nav-ul{
  display: flex;
  font-weight: 600;
  list-style: none;
  justify-content: center;
}
.header-nav-ul-li{
  margin-left: 20px;
}
a{
  list-style: none;
  text-decoration: none;}
p{
  color: darkred;
  text-align: start;
}
.main-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.main-section>p{
  text-align: center;
}
.main-section>audio{
  margin-bottom: 10px;
}
.ingredientes{
  text-align: center;
  font-weight: 600;
  list-style-position: inside;

}
.ingredientes>li{
  color: blue;
  font-weight: 600;
  text-align: center;
  list-style-position: inside;
}

.ingredientes-p{
  color: blue;
  text-align: center;
}
body{
  background-color: bisque;
  font-family:Arial, Helvetica, sans-serif;
}
.paso-a-paso{
  text-align: center;
  font-weight: 600;
  list-style-position: inside;
}
.paso-a-paso>li{
  color:blueviolet;
  font-weight: 600;
  margin-bottom: 5px;
}

img{
  width: 500px;
  height: 350px;
  border-radius: 20px;
}

iframe{
  border-radius: 20px;
  width: max-content;
  height: 300px;
}

video{
  border-radius: 20px;
  width: max-content;
  height: 300px;
}
.whatsapp-section {
  position: fixed;
  width: 5%;
  bottom: 160px;
  right: 10px;
}
.whatsapp-logo{
  height: inherit;
  width: 60%;
}
.video-aside{
  align-items: center;
  margin-bottom: 10px;
}
.video-aside>video{
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  width: max-content;
}
.section-aside{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.section-aside iframe{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color:cadetblue;
}
.footer>iframe{
  width: 160px;
  height: inherit;
}
.footer>p{
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  margin-right: 15px;
}
.footer-content-social-media{
  font-size: 20px;
  text-align: start;
}
.footer-content-social-media>h4{
  font-size: 15px;
  color: white;
}